{% extends 'base.html' %}

{% block title %}Article Detail{% endblock title %}

{% block body %}
  <h1>{{ article.pk }}. {{ article.title }}</h1>
  <p>작성일자: {{ article.created_at }}</p>
  <p>수정일자: {{ article.updated_at }}</p>
  <hr>
  <p>{{ article.content }}</p>
  <hr>
  <h3>댓글</h3>
  {% comment %} 댓글 작성하기 Form {% endcomment %}
  <form action="{% url 'articles:comments_create' article.pk %}" method="POST">
    {% csrf_token %}
    <input type="text" name="content">
    <button type="submit">작성하기</button>
  </form>
  <ul>
    {% for comment in comments %}
      <li>{{ comment.content }}<br>
      작성 시간: {{ comment.created_at }}</li>
      {% empty %}
      <p>아직 댓글이 없습니다. 첫 댓글을 작성해보세요!</p>
    {% endfor %}
  </ul>
  <hr>
  {% comment %} <a href="{% url 'articles:index' %}"><button type="button">뒤로가기</button></a>
  <a href="{% url 'articles:update' article.pk %}"><button type="button">수정하기</button></a> {% endcomment %}
  <form action="{% url 'articles:delete' article.pk %}" method="POST">
    {% csrf_token %}
    <a href="{% url 'articles:index' %}"><button type="button">뒤로가기</button></a>
    <a href="{% url 'articles:update' article.pk %}"><button type="button">수정하기</button></a>
    <button type="submit" onclick="return confirm('Are you sure?')">삭제하기</button>
  </form>
{% endblock body %}